<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- CSS        -->
  <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
  <title>
    <%= title %>
  </title>

</head>

<body class="">

  <nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand text-light">MYT-Ideas</a>
    <form class="form-inline" action="/logout" method="GET">
      <button type='submit' class="btn btn-outline-white my-2 my-sm-0 mx-2" type="button">Logout</button>
     </form>
  </nav>

  <div class="row mt-4">
    <div id="myt m-4" class="col-md-2">
      <img id="mytimg" src=<%=myturl %> alt="My Take away">
      <!-- <h1 class="mt-4">
        <%= title %>
      </h1> -->
    </div>
    <div id="feature" class="col">
        <div class="idea">

        <form class= action="/idea" method="POST">
          <div class="form-group ">
              <label for="idea">New Idea:</label>
              <input type="text" class="form-control" id="idea" placeholder="Enter Idea" name="idea">
            </div>
            <div>
            
          <button type='submit' class="btn btn-success " type="button">Post-Idea</button>
          </div>
         </form>
         </div>
      <% for(var i=0; i<l; i++){ %>
      <div class="idea">
        <h1>
          <%= JSON.stringify(Info[i].name) %>
        </h1>
        <p>
          <%= JSON.stringify(Info[i].idea) %>
        </p>
        <form action="/like" method="POST">
          <% name = JSON.stringify(Info[i].name) %>
          <div class="form-group">
            
             
           <button type="submit" class="btn btn-success" >Thumbs up</button> :  <%= JSON.stringify(Info[i].like) %>
               </div>
        </form>

      </div>

      <% } %>
    </div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </div>
  <script src="client.js"></script>

</body>

</html>